{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% comment %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% endcomment %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        {% block header %}{% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'about' %}">TrafficX</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
         {% if user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">Logout</a> </li>
            <li><a href="{% url 'registration_create_complaint' %}">New Complaint</a> </li>
         {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
            <li><a href="{% url 'registration_register' %}">Register</a></li>

        {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        {% comment %}<nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a> </li>
{#                <li><a href="{% url 'about' %}">About</a> </li>#}
{#                <li><a href="{% url 'contact' %}">Contact</a> </li>#}
                {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Logout</a> </li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a> </li>
                <li><a href="{% url 'registration_register' %}">Register</a> </li>
                {% endif %}
            </ul>
        </nav>{% endcomment %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}

    </body>


</html>