{% extends 'layouts/base.html' %}
{% block title %}Password Reset Form - {{ block.super }}{% endblock %}

{% block content %}
{% if validlink %}
    <h1>Password Reset Form</h1>

        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change password" />
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please try again...</p>
{% endif %}
{% endblock %}
